{% include '/views/templates/common/head.html' %}
{% from "views/templates/common/side-nav.html" import SideNav %}
{% call SideNav() %} {% endcall %}

<rs-view remote route="^/indirimbo/$" name="IbitaboView" class=""></rs-view>
<rs-view remote route="^/indirimbo/ishakiro?(.*)" name="IshakiroView"></rs-view>
<rs-view route="^/indirimbo/indirimbo?(.*)" name="IndirimboView" class="visible">
  {% include '/views/templates/indirimbo/indirimbo.html' %}
</rs-view>
<rs-router><rs-router>
{% include '/views/templates/common/foot.html' %}
